backend/basico-backend/java/server/src-gen/main/resources/furb_basico.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.senior.com.br/furb/basico"
    targetNamespace="http://www.senior.com.br/furb/basico"
    elementFormDefault="qualified">
    
    <xsd:attribute name="deprecated" type="xsd:string" default=""/>
    <xsd:attribute name="anonymous" type="xsd:boolean" default="false"/>
    
    <xsd:attribute name="i18n" type="xsd:boolean" default="false"/>
    
    <!-- Public types -->
    <xsd:simpleType name="fotoOperationResult">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="ERROR"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="fregues">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:uuid" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="nome" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="dataNascimento" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="cpf" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="telefone" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="endereco" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="idFoto" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="funcionario">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:uuid" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="nome" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="dataNascimento" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="cpf" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="endereco" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="nomeUsuario" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="senha" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="tipo" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="salario" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="idFoto" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="servico">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:uuid" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="descricao" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="valor" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="atendimento">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:uuid" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="fregues" type="fregues" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="funcionario" type="funcionario" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="dataAtendimento" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="valorTotal" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <!-- collection wrapper for servicos -->
            <xsd:element name="servicos" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="servico" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="userNotificationKind">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Operational"/>
            <xsd:enumeration value="Management"/>
            <xsd:enumeration value="News"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="userNotificationPriority">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Error"/>
            <xsd:enumeration value="Alert"/>
            <xsd:enumeration value="None"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="notifyUserEventPayload">
        <xsd:sequence>
            <xsd:element name="notificationClass" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationOrigin" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationKind" type="userNotificationKind" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationPriority" type="userNotificationPriority" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationSubject" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationContent" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="sourceDomain" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="sourceService" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="destinationUser" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="link" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="eventEmailFormat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTML"/>
            <xsd:enumeration value="PLAIN_TEXT"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="emailNotifyUserEventPayload">
        <xsd:complexContent>
            <xsd:extension base="notifyUserEventPayload">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                    <!-- collection wrapper for sendTo -->
                    <xsd:element name="sendTo" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="format" type="eventEmailFormat" minOccurs="0" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pushNotifyUserEventPayload">
        <xsd:complexContent>
            <xsd:extension base="notifyUserEventPayload">
                <xsd:sequence>
                    <xsd:element name="applicationId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="blobReference">
        <xsd:sequence>
            <xsd:element name="domainName" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="targetObjectId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="targetCopyId" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="basicErrorPayload">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorCode" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="fieldType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BINARY"/>
            <xsd:enumeration value="BOOLEAN"/>
            <xsd:enumeration value="DATE"/>
            <xsd:enumeration value="DATETIME"/>
            <xsd:enumeration value="DOUBLE"/>
            <xsd:enumeration value="ENUM"/>
            <xsd:enumeration value="INTEGER"/>
            <xsd:enumeration value="MONEY"/>
            <xsd:enumeration value="STRING"/>
            <xsd:enumeration value="TIME"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="fileFormat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CSV"/>
            <xsd:enumeration value="FLAT"/>
            <xsd:enumeration value="JSON"/>
            <xsd:enumeration value="XML"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="hookFunction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BEFORE_PARSE"/>
            <xsd:enumeration value="BEFORE_CONVERSION"/>
            <xsd:enumeration value="ON_ERROR"/>
            <xsd:enumeration value="VALIDATE"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="eventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CHUNK"/>
            <xsd:enumeration value="DOWNLOAD"/>
            <xsd:enumeration value="ERROR"/>
            <xsd:enumeration value="FINISH"/>
            <xsd:enumeration value="START"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="errorStrategy">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CALL_SCRIPT"/>
            <xsd:enumeration value="IGNORE"/>
            <xsd:enumeration value="STOP"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DONE"/>
            <xsd:enumeration value="DONE_WITH_ERRORS"/>
            <xsd:enumeration value="DOWNLOADING"/>
            <xsd:enumeration value="ERROR"/>
            <xsd:enumeration value="NOT_STARTED"/>
            <xsd:enumeration value="RUNNING"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="errorType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CONVERT_ERROR"/>
            <xsd:enumeration value="SERVICE_ERROR"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="importError">
        <xsd:sequence>
            <xsd:element name="errorType" type="errorType" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="lineNumber" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="bean" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="exceptionClass" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fielddto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="fieldType" type="fieldType" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="start" type="xsd:long" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="size" type="xsd:long" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="maskPattern" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hookdto">
        <xsd:sequence>
            <xsd:element name="hookFunction" type="hookFunction" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="script" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="layoutdto">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="fileFormat" type="fileFormat" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorStrategy" type="errorStrategy" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="delimiter" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="skipLines" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <!-- collection wrapper for fields -->
            <xsd:element name="fields" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="fielddto" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- collection wrapper for hooks -->
            <xsd:element name="hooks" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="hookdto" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="importReport">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="startTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="endTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="uri" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="beanClass" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="serviceClass" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="layout" type="layoutdto" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="sucessCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorsCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="filteredCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="skippedCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <!-- collection wrapper for importErrors -->
            <xsd:element name="importErrors" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="importError" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="exportEventStatus">
        <xsd:sequence>
            <xsd:element name="importerId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="eventType" type="eventType" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="recordCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="importEventStatus">
        <xsd:sequence>
            <xsd:element name="importerId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="eventType" type="eventType" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="status" type="status" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="recordCount" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="importReport" type="importReport" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="exportConfig">
        <xsd:sequence>
            <xsd:element name="uri" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="layout" type="layoutdto" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="async" type="xsd:boolean" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorStrategy" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="importConfig">
        <xsd:sequence>
            <xsd:element name="uri" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="layout" type="layoutdto" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="async" type="xsd:boolean" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="batchSize" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorStrategy" type="errorStrategy" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dependency">
        <xsd:sequence>
            <xsd:element name="domain" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="service" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="uuid">
        <xsd:restriction base="xsd:string">
        	<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </xsd:restriction>
     </xsd:simpleType>
    
    <!-- Message payload elements for signals -->
    
    <!-- Message input/output elements for commands -->
    <xsd:element name="retrieveFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateFuncionario">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="updateMergeFregues">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="importFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="importConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importFuncionarioOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="importJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkServico">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for entities -->
                <xsd:element name="entities" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="servico" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkServicoOutput">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteFregues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="importConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importAtendimentoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="importJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="exportConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportFuncionarioOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="exportJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createServico">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="totalReceitas">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dataInicial" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="dataFinal" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="totalReceitasOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="totalRecebido" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateAtendimento">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="retrieveFregues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="retrieveAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMergeFregues">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="listFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="offset" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="orderBy" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="filter" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <!-- collection wrapper for displayFields -->
                <xsd:element name="displayFields" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listFuncionarioOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for contents -->
                <xsd:element name="contents" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="funcionario" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="gravarFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="gravarFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="fotoOperationResult" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkFregues">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for entities -->
                <xsd:element name="entities" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="fregues" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkFreguesOutput">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlDownloadFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlDownloadFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for entities -->
                <xsd:element name="entities" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="atendimento" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkAtendimentoOutput">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMergeServico">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="importFregues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="importConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importFreguesOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="importJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for entities -->
                <xsd:element name="entities" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="funcionario" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createBulkFuncionarioOutput">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMergeAtendimento">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="createMergeFuncionario">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="totalDespesas">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dataInicial" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="dataFinal" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="totalDespesasOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="totalGastos" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="offset" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="orderBy" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="filter" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <!-- collection wrapper for displayFields -->
                <xsd:element name="displayFields" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listAtendimentoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for contents -->
                <xsd:element name="contents" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="atendimento" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteServico">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listServico">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="offset" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="orderBy" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="filter" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <!-- collection wrapper for displayFields -->
                <xsd:element name="displayFields" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listServicoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for contents -->
                <xsd:element name="contents" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="servico" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importServico">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="importConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="importServicoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="importJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createFuncionario">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getMetadata">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="metadataFormat" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMetadataOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="metadata" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getDependencies">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getDependenciesOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for dependencies -->
                <xsd:element name="dependencies" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="dependency" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteFuncionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMergeServico">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="listFregues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="offset" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="orderBy" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="filter" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <!-- collection wrapper for displayFields -->
                <xsd:element name="displayFields" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="listFreguesOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for contents -->
                <xsd:element name="contents" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="fregues" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createAtendimento">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="updateServico">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="exportServico">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="exportConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportServicoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="exportJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createFregues">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="updateFregues">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="deleteAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMergeAtendimento">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="retrieveServico">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:uuid" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportAtendimento">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="exportConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportAtendimentoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="exportJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMergeFuncionario">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="exportFregues">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="config" type="exportConfig" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="exportFreguesOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="exportJobId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="totalLucro">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dataInicial" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="dataFinal" type="xsd:date" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="totalLucroOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="totalLucro" type="xsd:double" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlUploadFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlUploadFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="helloWorld">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="who" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="helloWorldOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="helloWorldMessage" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
