backend/basico-backend/java/server/src-gen/main/resources/furb_basico.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.senior.com.br/furb/basico"
    targetNamespace="http://www.senior.com.br/furb/basico"
    elementFormDefault="qualified">
    
    <xsd:attribute name="deprecated" type="xsd:string" default=""/>
    <xsd:attribute name="anonymous" type="xsd:boolean" default="false"/>
    
    <xsd:attribute name="i18n" type="xsd:boolean" default="false"/>
    
    <!-- Public types -->
    <xsd:simpleType name="fotoOperationResult">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="ERROR"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="userNotificationKind">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Operational"/>
            <xsd:enumeration value="Management"/>
            <xsd:enumeration value="News"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:simpleType name="userNotificationPriority">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Error"/>
            <xsd:enumeration value="Alert"/>
            <xsd:enumeration value="None"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="notifyUserEventPayload">
        <xsd:sequence>
            <xsd:element name="notificationClass" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationOrigin" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationKind" type="userNotificationKind" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationPriority" type="userNotificationPriority" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationSubject" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="notificationContent" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="sourceDomain" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="sourceService" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="destinationUser" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="link" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="eventEmailFormat">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTML"/>
            <xsd:enumeration value="PLAIN_TEXT"/>
        </xsd:restriction>
     </xsd:simpleType>
    <xsd:complexType name="emailNotifyUserEventPayload">
        <xsd:complexContent>
            <xsd:extension base="notifyUserEventPayload">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                    <!-- collection wrapper for sendTo -->
                    <xsd:element name="sendTo" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="format" type="eventEmailFormat" minOccurs="0" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pushNotifyUserEventPayload">
        <xsd:complexContent>
            <xsd:extension base="notifyUserEventPayload">
                <xsd:sequence>
                    <xsd:element name="applicationId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="blobReference">
        <xsd:sequence>
            <xsd:element name="domainName" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="targetObjectId" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="targetCopyId" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="basicErrorPayload">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="errorCode" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dependency">
        <xsd:sequence>
            <xsd:element name="domain" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="service" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
            <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- Message payload elements for signals -->
    
    <!-- Message input/output elements for commands -->
    <xsd:element name="gravarFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="gravarFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="fotoOperationResult" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMetadata">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="metadataFormat" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMetadataOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="metadata" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlDownloadFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlDownloadFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getDependencies">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getDependenciesOutput">
        <xsd:complexType>
            <xsd:sequence>
                <!-- collection wrapper for dependencies -->
                <xsd:element name="dependencies" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="dependency" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlUploadFoto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obterUrlUploadFotoOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
                <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="helloWorld">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="who" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="helloWorldOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="helloWorldMessage" type="xsd:string" minOccurs="1" maxOccurs="1"  readOnly="false">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
